@import "tailwindcss";

/* === CERA PRO === */
@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('/src/assets/fonts/CeraPRO-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* === CALVINO ITALIC === */
@font-face {
  font-family: 'Calvino';
  src: url('/src/assets/fonts/Calvino-Italic-trial.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@theme {
  --font-cera: 'Cera Pro', sans-serif;
}

* {
  font-family: "Cera Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 1080px;
  height: 1920px;
}

@keyframes flash {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.flash-animation {
  animation: flash 0.5s ease-in-out;
}

@keyframes fall {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(calc(100vh + 100px));
  }
}

.falling {
  animation: fall linear;
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.bounce-animation {
  animation: bounce 0.3s ease-in-out;
}
